/* #future {
  border: 1px solid black;
} */
#header {
  /* justify-content: center; */
  /* text-align: center; */
  height: 5em;

}

.card {
  border: 0;
}
#name {
  text-align: center;
  text-align: center;
  color: white;
}

.jumbotron {
  padding: 0;
  margin-top: 1rem;
  background-color: rgb(23, 117, 199);
  display: flex;
  justify-content: space-around;

}

#currentLoc {
  color: white;
  text-align: center;
  background-color: ;
}

.recentSearches {
  margin-top: 10px;
  justify-content: center;  
}

.cityList {
  margin: 0 5px;
}

#future {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
}

.uv-green {
  background-color: green;
}

.uv-orange {
  background-color: orange;
}
.uv-red {
  background-color: red;
}
.col-4 {
  display: block;
}
.form-group {
  margin-left: 0;
}

.p-2 {
  border: 1px solid black;
}

.topRow {
  display: flex;
  flex-wrap: nowrap;
}